
<style>
@media screen and (max-width: 1169px) {
 .sidebar { display: none; }
}

@media screen and (min-width: 1170px) {
 .sidebar { width:150px; }
}

.sidebar { margin: 30px; float:left; position: static; }
</style>

<aside class="sidebar">
  <p>
    <img src="/assets/hltj.png" style="vertical-align: text-bottom" >
    <span style="font-size: 18pt; ">灰蓝天际</span>
  </p>
  {% include social_list.html %}
  <p>
    <img src="/assets/weibo_qr.png">
  </p>
  <p>
    <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI0Nzg1OTYyNQ==&scene=124#wechat_redirect"><img src="/assets/wechat.svg" width="24" height="24"> <span class="username">灰蓝时光<span></span></span></a>
  </p>
  <p>
    <img src="/assets/wechat_qr.png">
  </p>
</aside>
