<p>欢迎关注：<br>
GitHub：<a href="https://github.com/hltj">hltj</a>　　　　微博：<a href="https://weibo.com/hltj">灰蓝天际（@hltj）</a>　　　　Twitter：<a href="https://twitter.com/jywhltj">@jywhltj</a>
</p>
<style>
  th img { margin: 0 10px 0 10px; }
  .qrcodes { border: 0; text-align: center; }
</style>
<table>
  <thead>
    <tr>
      <th class="qrcodes"><img src="/assets/wechat_qr.png" alt="weibo_qr.png"></th>
      <th class="qrcodes"><img src="/assets/weibo_qr.png" alt="weibo_qr.png"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="qrcodes">公众号</td>
      <td class="qrcodes">微博</td>
    </tr>
  </tbody>
</table>
