---
---

@import "minima";

pre {
    font-family: monospace;
    white-space: pre;
}

tt, kbd, samp {
    font-family: monospace;
}

code {
    font-family: "SFMono-Regular", Menlo, "DejaVu Sans Mono", "Liberation Mono", Consolas, Monaco, "Courier New", Courier, monospace;
}

blockquote {
    font-size: $base-font-size;
}

.footer-col-1 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.page-navigation {
  font-weight: bold;
  overflow: hidden;
}

.page-navigation a {
  width: 47%;
  float: left;
  margin: 1em 0;
}

.page-navigation .prev {
  text-align: right;
}


.pagination {
  font-weight: bold;
  font-size: 1.2em;
}

.pagination a {
  width: 33%;
  float: left;
  margin: 1em 0;
}

.pagination .older {
  text-align: right;
}


.pagination .rss {
  font-weight: normal;
  text-align: center;
  font-size: $base-font-size;
  margin: 1em 0;
}
