---
---

@import "minima";

pre {
    font-family: monospace;
    white-space: pre;
}

tt, kbd, samp {
    font-family: monospace;
}

code {
    font-family: "SFMono-Regular", Menlo, "DejaVu Sans Mono", "Liberation Mono", Consolas, Monaco, "Courier New", Courier, monospace;
}

blockquote {
    font-size: $base-font-size;
}
